.row{

  
}
.col{

  border-style: solid;
     border-width: .25px; 

}


 .bl{
    background-color: darkred;
  
 }

.wh{

    background-color: black;
}
 .row {
    height: 62.5px;
    width: 500px;
}
.grid{
    width: 512.5px;
    border-style: solid;
    border-width: 1px;
}

.buttonBlack{

    height: 62.5 px !important;
    background-image: "../../assets/RedRealistic.png" !important;

}

.button{
    background-color: transparent;
    height: 62.5px;
    width: 62.5px;
    position:absolute;
    top: 0%;
    left: 0%;

}

.imageSize{
    height: 30.5px;
    width: 30.5px;
}

.button2 {
    display: inline-block;
  padding: 1px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.wrapper {
    text-align: center;
    border:none;

    .col {
        border:none;
        color:white;
    }
    

}

.button2:hover {background-color: #3e8e41}

.button2:active {

  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.button3 {
   display: inline-block;
  padding: 1px 10px;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: cornflowerblue;
  border:none;
  border-radius: 200px;
  box-shadow: 0 9px #999; 
  .wrapper {
    text-align: center;
    border:none;

    .col {
        border:none;
        color:white;
    }
  }
}

.button3:hover {background-color: #3e8e41}

.button3:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}



#center {
    display: block;
    margin: 0 auto;
}

#mobile-buttons {
    list-style: none;
    display:none;
   
}


// RWD Media Queries


@media only screen and (max-width: 900px) {

    .grid {
        width: 350px;
        .row {
        height: 42px;
        width: 338px;
    }
    }

    .wrapper {
        display: none;
    }

    #mobile-buttons {
        display: inline;
       text-align:center;

       .button2{ 
           margin: 5px 0px 10px 0px;
       }
    }

}

   

       
       
    



