.row{

  
}
.col{

  border-style: solid;
     border-width: .25px; 

}


 .bl{
    background-color: darkred;
  
 }

.wh{

    background-color: black;
}
 .row {
    height: 62.5px;
    width: 500px;
}
.grid{
    width: 512.5px;
    border-style: solid;
    border-width: 1px;
}

.buttonBlack{

    height: 62.5 px !important;
    background-image: "../../assets/RedRealistic.png" !important;

}


